<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>q3</display-name>
    <servlet>
  	<servlet-name>hello</servlet-name>
  	<servlet-class>servlet.CreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>/credit</url-pattern>
  </servlet-mapping>
      <servlet>
  	<servlet-name>hello1</servlet-name>
  	<servlet-class>servlet.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>hello1</servlet-name>
  	<url-pattern>/smartSense</url-pattern>
  </servlet-mapping>
 
</web-app>